.App {
  color: var(--first-color);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.title {
  font-size: 20px;
}

.success {
  color: var(--third-color);
}

.fail {
  color: var(--fail-color);
}