.messages-space {
  height: 480px;
  overflow-y: auto;
  padding: 20px 10px 0 10px;
}

.messages-space ul {
  margin: 0;
  padding: 0;
}

.messages-space-wrapper form {
  position: relative;
  margin-top: 5px;
}

.messages-space-wrapper input[type='text'] {
  width: 100%;
  height: 60px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 70px;
}

.messages-space-wrapper input[type='text']:focus {
  outline: none;
}

.messages-space-wrapper input[type='submit'] {
  background: transparent;
  color: var(--third-color);
  position: absolute;
  top: 17px;
  right: 2%;
  cursor: pointer;
  transition: .2s;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
}

.messages-space-wrapper input[type='submit']:hover {
  border: 1px solid var(--third-color);
}