.menu {
  box-shadow: 0 0 10px -5px var(--first-color);
  position: relative;
  z-index: 2;
}

.menu ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.menu ul li {
  border: 1px solid var(--border-color);
  transition: .5s;
}

.menu ul li:hover {
  background: rgb(192, 192, 192);
}

.menu a {
  padding: 20px;
  display: inline-block;  
}