.messager {
  width: 50%;
  background: var(--second-color);
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  position: relative;
  padding: 0 2.5%;
}

.messager .messager-header {
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.messager button {
  position: absolute;
  top: 35%;
}

.messager button:hover {
  box-shadow: 0 0 5px 2px var(--border-color);
  transform: translate(1px 1px);
  transform: scale(1.05);
}

.messager .delete-trade {
  left: 2%;
}

.messager .switch-user {
  right: 2%;
}