.trade-card {
  border-bottom: 1px solid var(--border-color);
  color: grey;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: .3s;
  min-height: 135px;
  text-align: left;
  position: relative;
  padding: 10px 10% 10px 15%;
}

.trade-card.active, .trade-card:hover {
  background: var(--second-color);
  transform: translateX(10px);
  box-shadow: 1px 1px 10px -5px var(--first-color);
}

.trade-info {
  width: 70%;
}

.trade-card .new-messages-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--border-color);
  position: absolute;
  top: 32px;
  left: 9%;
}

.trade-card .new-messages-indicator.active {
  background: var(--third-color);
}

.trade-card .trade-method p:first-child {
  color: var(--first-color);
}

.trade-card .trade-method p {
  margin: 0;
}

.trade-method p:first-child {
  font-weight: bold;
}

.trade-card .payment-status {
  width: 30%;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  color: grey;
  font-size: 13px;
}

.trade-card .payment-status p {
  margin: 12px;
}