.user-info {
  width: 25%;
  position: relative;
  z-index: 2;
  box-shadow: -1px 4px 9px -7px var(--first-color);
}

.user-info .title {
  margin-bottom: 0;
}

.user-info .time {
  margin: 5px 0 25px 0;
  color: grey;
}

.user-info button {
  background: var(--third-color);
  border: none;
  width: 220px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid #4ea03b;
  box-shadow: 0 0 5px var(--border-color);
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  transition: .5s;
}

.user-info button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px 2px var(--border-color);
}

.user-info .table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: 40px auto;
  color: grey;
}

.user-info .table div{
  border: 1px solid rgb(192, 192, 192);
  width: 50%;
  border-top: none;
  border-left: none;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-info .table div:nth-child(2n) {
  border-right: none;
}

.user-info .table-title {
  font-weight: bold;  
  color: var(--first-color);
}

.user-info .table p {
  margin: 5px 0;
}