* {
  box-sizing: border-box;
  --first-color: #1d202d;
  --second-color: #f6f7fb;
  --third-color: #78d192;
  --border-color: #e2e2e2;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}