.message-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  width: 100%;
  justify-content: flex-end;
  position: relative;
}

.message {
  background: #617391;
  color: #fff;
  max-width: 84%;
  min-width: 20%;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  margin-right: 1%;
  margin-left: 9.5%;
  border: 1px solid var(--border-color);
  position: relative;
  word-wrap: break-word;
}

.message-wrapper.this-user {
  justify-content: flex-start;
}

.message-wrapper.this-user .message {
  background: #fff;
  color: inherit;
  order: 2;
  margin-left: 1%;
  margin-right: 9%;
}

.message-wrapper:not(.this-user) .message:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #617391;
  position: absolute;
  right: -5px;
  top: 20px;
}

.message-wrapper.this-user .message:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fff;
  position: absolute;
  left: -6px;
  top: 20px;
}

.message-wrapper .avatar {
  margin: 0 5px;
}

.message-wrapper.this-user .avatar {
  order: 1;
}

.message-wrapper .time {
  font-size: 12px;
  color: grey;
  position: absolute;
  top: 110%;
  right: 10%;
}

.message-wrapper.this-user .time {
  left: 10%;
  right: initial;
}